p{
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 2.0em;
}

h1{
	font-family: 'Architects Daughter', cursive;
	font-size: 5.0em;
}


span{
	font-size: 2.0em;
}

body{
	font-size: 10px;
}

p{
	font-weight: normal;
	line-height: 2;
	text-align: center;
}

h1{
	text-align: right;
	text-decoration: normal;
}

p{
	text-decoration: underline;
}